body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none !important;
    color: inherit;
}

h1 {
    font-size: 40px;
    font-weight: 800;
}

h2 {
    font-size: 28px;
    font-weight: 700;
}

h3 {
    font-size: 16px;
    font-weight: 700;
}

figcaption {
    font-size: 32px;
    font-weight: 700;
}

.footer {
    font-size: 28px;
    font-weight: 700;

    &--text {
        font-size: 28px;
    }

    &--link{
        text-decoration: underline !important;

        &:hover {
            color: inherit;
        }
    }
}