body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none  !important;
    color: inherit;
}

h1 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 50px;
}

h2 {
    font-size: 28px;
    font-weight: 700;
}

h3 {
    font-size: 16px;
    font-weight: 700;
}

p {
    font-size: 16px;
}

figcaption {
    font-size: 32px;
    font-weight: 700;
}