.service-title {
    margin-bottom: 10px;
}

.service-type {
    color: #4AB7CD;
    margin-bottom: 36px;
}

.service-article {
    display: flex;
    column-gap: 31px;
    height: 380px;
    font-weight: 400;
    line-height: 20px;
}