.header-container {
    padding: 93px 0;
    margin-bottom: 50px;
    background-color: #080D0D;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
    svg {
        margin: 0 auto;
        display: block;
    }
}

.service-header {
    background-color: #4AB7CD;
}